
# Task Verification

## Class Name

`TaskVerification`

## Cases

| Type |
|  --- |
| [`Verification`](../../../doc/models/verification.md) |

## Verification

### Initialization Code

#### Example

```ts
const value: TaskVerification = {
};
```

